name: Keep All Spaces Alive

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  ping_spaces:
    runs-on: ubuntu-latest

    steps:
      - name: Wake up Spaces
        run: |
          urls=(
            "https://huggingface.co/spaces/kacapower/blogger-source-downloader"
            "https://huggingface.co/spaces/kacapower/Blogger-Toolkit"
            "https://huggingface.co/spaces/kacapower/repo-cloner-tool"
            "https://huggingface.co/spaces/kacapower/backend-filehandler"
            "https://huggingface.co/spaces/kacapower/videostream"
          )

          for url in "${urls[@]}"; do
            echo "Pinging $url..."
            status=$(curl -s -o /dev/null -w "%{http_code}" "$url")
            echo "Response Status: $status"
            sleep 10
          done
